* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    color: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.link1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1rem;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logoicon {
    width: 40%;
    margin-top: .5em;
    margin-bottom: .5em;
    color: white;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

i {
    margin-right: .5em;
    font-size: 1rem;
    color: white;
}

main {
    margin-top: 100px;
}

.container {
    padding-top: 5em;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: calc(100% / 3);
    padding: 20px;
}
.card {
    position: relative;
    padding-bottom: 5em;
}

.card > img {
    width: 100%;
}

.discount-red {
    background-color: red;
    color: white;
    position: absolute;
    bottom: 2em;
    padding: .1em;
}

.banner-green {
    background-color: green;
    color: white;
    position: absolute;
    bottom: 2em;
    left: 2.5em;
    padding: .1em;
}

.banner-green-last {
    background-color: green;
    color: white;
    position: absolute;
    bottom: 2em;
    left: 0em;
    padding: 0.1em;
}

.heart {
    position: absolute;
    background-color: white;
    right: 0;
    top: .2em;
    padding: .6em;
}

.description {
    position: absolute;
}

.price {
    color: red;
    text-decoration: none;
    display: inline-block;
}

.offer {
    text-decoration: line-through;
    display: inline-block;
}

.heart:hover {
    color: red;
}

.first {
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .first {
    display: none;
}

footer {
    background-color: rgb(29, 28, 29);
}
.foot-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(29, 28, 29);
    margin: auto;
    padding: 1.5em;
}

.credits {
    list-style: none;
    display: inline;
    color: white;
    margin-right: 0.3em;
}

h3 {
    color: white;
    font-weight: 100;
    margin-bottom: .3em;
}

